<!-- <div class="wrapper fadeInDown">
    <div id="formContent">

      <form [formGroup]="loginform" >
        <input type="text" id="login" class="fadeIn second" name="login" formControlName="username" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="login" formControlName="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" (click)="login()" value="Log In">
      </form>

    </div>
  </div> -->

<div class="hostclass" >

  <mat-card class="mat-card-style">
    <mat-card-title class="mat-card-title-style">Login</mat-card-title>
    <mat-card-content class="mat-card-content-style">
      <form [formGroup]="loginform">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>



        <div class="button">
          <button class="buttonlogin" type="submit" (click)="login()" mat-raised-button>Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>