#fullwidth{
    width: 100%;
}


.goalinputwidth{
    width: 700px;
}
.employeewidth{
    width: 500px;
}


/* matdialog */

#commontableinputstyle{
    width: 100%;
  }
  
  .employeedetailinputwidth{
    width:90%
  }
  
  .address{
    width:830px;
  }

  .employeecontactdetail{
    width:70%
  }

  .employeedepartment{
    width: 70%;
    margin-left: 10px;
  }

  .employeemanager{
    width: 70%;
    margin-left: 28px;
  }

  .employeecoach{
    width: 70%;
    margin-left: 45px;
  }

  .employeeworkmobile{
    width: 70%;
    margin-left: 10px;
  }

  .employeeworkphone{
    width: 70%;
    margin-left: 12px;
  }

  .employeeworkemail{
    width: 70%;
    margin-left: 18px;
  }

  .locationworkaddress{
    width: 70%;
    margin-left: 30px;
  }

  #tabgrouptablewidth{
    width: 75%;
  }

  .imagediv{
    border:1px solid black;
    width:120px;
    height:120px;
  }
  
  .fit{
    width:100%;
    height:auto;
  }

  .imageupload{
    opacity: 0;
    width: 120px;
    height: 120px;
  }

  .rowspanwidthchange{
    width: 0px;
  }

  .privateinformationinputtag{
    width: 400px;
  }

  .emptycellshow{
    empty-cells: show;
  }

  .heading{
    font-weight: 500;
  }

  .centerdiv{
    display: flex;
    justify-content: center;
  }

  .descriptiontd{
    vertical-align: initial;
    padding-top: 30px;
  }

  .paddingtd{
    padding-left: 40px;
  }

  .tdend{
    display: flex;
    justify-content: flex-end;
  }

  .mat-fab-color{
    background-color:white;
    color: black;
  }

  .matdialogheader{
    display: flex;
    justify-content: space-between;
  }

  .marginbuttons{
    margin: 10px;
  }

  .tdpadding{
    padding-left: 30px;
  }