<div>
    <br>
    <form [formGroup]="goalform">
        <table id="fullwidth">
            <tr>
                <td colspan="4">
                    <mat-form-field class="goalinputwidth">
                        <mat-label>Goal</mat-label>
                        <input formControlName="goal" matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Designation</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        <input formControlName="designation_id" matInput>
                    </mat-form-field>

                    <button mat-icon-button (click)="opendialog(dialog)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>

                </td>
                <td>
                    <p>grade</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        <input formControlName="grade" matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Description</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        <input formControlName="description" matInput>
                    </mat-form-field>
                </td>
                <!-- <td>
                    <p>Deadline</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        <input formControlName="deadline" matInput>
                    </mat-form-field>
                </td> -->
            </tr>
        </table>

        <div class="centerdiv">
            <button mat-raised-button (click)="goalcreate()">Submit</button>
        </div>
    </form>

</div>

<ng-template #dialog >
    <div>
        <p>Hello</p>
    </div>
</ng-template>