<div>
    <br>
    <form [formGroup]="goalform">
        <table id="fullwidth">
            <tr>
                <td>
                    <p class="heading" >Goal</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        
                        <input formControlName="goal" matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="heading" >Designation</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth" (click)="designationdropdown('',designationcurrentpage=1)" >
                
     
                    <input formControlName="designation_id" #designationinput
                        (keyup)="designationdropdown($event.target.value,designationcurrentpage=1)" matInput
                        [matAutocomplete]="designationautocomplete">
                    <mat-autocomplete #designationautocomplete="matAutocomplete"
                        [displayWith]="displayFndesignation">

                        <mat-option *ngIf="!isLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="isLoading">
                            <mat-option *ngFor="let design of designationdropdowndata" [value]="design">
                                {{design.name}}
                            </mat-option>
                        </ng-container>

                    </mat-autocomplete>
                </mat-form-field>

                </td>
            </tr>
            <tr>
                <td>
                    <p class="heading" >grade</p>
                </td>
                <td>
                    <mat-form-field (click)="gradedropdown()" class="employeewidth">
                        <!-- <input formControlName="grade" matInput> -->
                        <mat-select formControlName="grade" matInput>
                            <mat-option *ngFor="let tab of gradedropdowndata" [value]="tab.id">
                                {{tab.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="heading" >Description</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        <textarea formControlName="description" matInput></textarea>
                    </mat-form-field>
                </td>
                <!-- <td>
                    <p>Deadline</p>
                </td>
                <td>
                    <mat-form-field class="employeewidth">
                        <input formControlName="deadline" matInput>
                    </mat-form-field>
                </td> -->
            </tr>
        </table>

        <br>
        <br>
        <div class="centerdiv">
            <button mat-raised-button (click)="goalcreate()">Submit</button>
        </div>
    </form>

</div>

<ng-template #dialog >
    <div>
        <p>Hello</p>
    </div>
</ng-template>