<div *ngIf="appservice.loginstatus">

    <mat-toolbar color="accent" class="nav" fxLayout="row" fxLayoutAlign="space-between center">

        <div (click)="drawer.toggle();menustylechanges()">
            <mat-icon class="menuicon">menu</mat-icon><span class="currentmodulename"> {{currentmodulename}}</span>
        </div>




        <div (click)="logout()" fxLayout="row" fxLayoutAlign="space-between center">



            <div class="mattoolflexend">
                <span [ngStyle]="{'color': adcolor}" style="margin-right: 10px;font-size: 18px;">{{idleState}}</span>

            </div>

            <div class="mattoolflexend">
                <span>({{sharedservice.username.value}})</span>
            </div>

            <div class="mattoolflexend">
                <a>Logout</a>
            </div>
        </div>

    </mat-toolbar>







    <mat-drawer-container class="drawer-container">



        <mat-drawer #drawer id="drawer1" class="drawer" mode="side" opened="true">

            <mat-divider class="mat_divderstyle"></mat-divider>


            <mat-nav-list class="mat_navlist" *ngIf="transactionlistshow">

                <!-- <a  [ngClass]="(currentselectedmodule == i )? 'activemodule':''" class="navlist"
                    *ngFor="let modrow of sharedservice.transactionList;let i = index "
                    (click)="transactionlist(modrow,i)" mat-list-item>{{modrow.name}}</a> -->
                <!-- <mat-icon matListIcon >receipt_long</mat-icon>

                <a mat-list-item matLine [ngClass]="(currentselectedmodule == 0 )? 'activemodule':''" class="navlist"
                   >
                    Appraisal
                </a> -->

                <!-- <mat-list-item [ngClass]="(currentselectedmodule == 0 )? 'activemodule':''" class="navlist"  (click)="transactionlist('modrow',0)" >
                    <mat-icon matListIcon>receipt_long</mat-icon>
                    <span matLine>Appraisal</span>
                </mat-list-item> -->

                <div *ngFor="let tab of moduleslist;let i=index">
                    <mat-list-item  routerLink="{{tab.route}}"  (click)="tab.selectedtab = !tab.selectedtab">
                        <mat-icon matListIcon>equalizer</mat-icon>
                        <span matLine>{{tab.name}}</span>
                        <mat-icon class="menubutton" [ngClass]="(tab.selectedtab)? 'rotated':''" >expand_more</mat-icon>
                    </mat-list-item>
                    <div *ngFor="let tag of tab.submodules">
                        <!-- <div class="submenu" [ngClass]="{'expanded' : tab.selectedtab}" *ngIf="tab.selectedtab">
                            <a class="submoduletag" mat-list-item routerLink="{{tag.route}}">{{tag.name}}</a>
                        </div> -->
                        <mat-list-item class="submenu" routerLink="{{tag.route}}" [ngClass]="{'expanded' : tab.selectedtab}" *ngIf="tab.selectedtab" >
                            <mat-icon matListIcon>chevron_right</mat-icon>
                            <span matLine>{{tag.name}}</span>
                        </mat-list-item>

                    </div>
                </div>


            </mat-nav-list>

            <mat-nav-list *ngIf="mastershow">

                <a [ngClass]="(currentselectedmodule == i )? 'activemodule':''" class="navlist"
                    *ngFor="let modrow of sharedservice.masterList;let i = index " (click)="transactionlist(modrow,i)"
                    mat-list-item>{{modrow.name}}</a>

            </mat-nav-list>


            <mat-nav-list id="navlistfooter" class="matnavlistfooter">

                <!-- <a class="navlist" mat-list-item (click)="changetransaction()"
                    (click)="transactionlist('modrow','2')">Home</a> -->

                <mat-list-item class="navlist" (click)="changetransaction()">
                    <mat-icon matListIcon>home</mat-icon>
                    <span matLine>Home</span>
                </mat-list-item>


                <mat-list-item class="navlist" (click)="changemaster()">
                    <mat-icon matListIcon>monitoring</mat-icon>
                    <span matLine>Master</span>
                </mat-list-item>

                <!-- <a class="navlist" mat-list-item (click)="changemaster()">Master</a> -->

            </mat-nav-list>




        </mat-drawer>



        <div>
            <!-- <app-header></app-header> -->

            <mat-card class="main">
                <router-outlet *ngIf="appservice.loginstatus"></router-outlet>

            </mat-card>



        </div>
        <!-- 
        <div class="footer" >
            <p>Hello</p>
        </div> -->


    </mat-drawer-container>



</div>
<router-outlet *ngIf="!appservice.loginstatus"></router-outlet>