/* .cssnavbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    overflow: auto;
    transition: 0.5s;
    box-shadow: rgb(0 0 0 / 4%) 0px 2px 1px, rgb(0 0 0 / 4%) 0px 4px 2px, rgb(0 0 0 / 4%) 0px 8px 4px, rgb(0 0 0 / 4%) 0px 16px 8px, rgb(0 0 0 / 4%) 0px 32px 16px
}

.cssnavbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.cssnavbar a:hover {
    color: grey;
    cursor: pointer;
}

.active {
    color: grey;
}

@media screen and (max-width: 500px) {
    .cssnavbar a {
        float: none;
        display: block;
    }
}

.content {
    width: 100%;
    transition: 0.5s;
    overflow: auto;

    padding: 1% 0% 2% 1%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #195190FF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenavfooter {
    position: fixed;
    bottom: 0;
    width: 0%;
    height: 80px;

    background: #195190FF;
    transition: 0.5s;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s;

}

.module_text {
    padding: 10px;
    margin-left: 10px;
    color: white;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}


.listheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #195190FF;
}

.listcontent {
    display: block;
    color: white;
    padding: 8px 40px;
    text-decoration: none;
}

.listcontent:hover {
    background-color: darkblue;
}

.listcontetn:active {
    background-color: darkblue;
    color: white;
}


::ng-deep .mat-form-field-standard {
    color: grey !important;

}

::ng-deep .mat-form-field-appearance-standard.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-standard-thick {
    color: red !important;
    opacity: 0.8 !important;
}

.drawer-container
{
  background-color: #A2A2A1FF !important;
  margin-top: 3px;
 
}

.drawer
{
  width: 200px;
  
  background-color: #d6d4d4;


} */


/*



*/


/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #edf0f8; } */



/* layout */
/* 
::ng-deep .mat-form-field-standard {
  color: grey !important;

}

::ng-deep .mat-form-field-appearance-standard.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-standard-thick {
  color: red !important;
  opacity: 0.8 !important;
} */


.nav
{
  color: white;
  background-color:#714B67 !important;
  /* box-shadow: 0px 0px 7px 0px #000000; */

  margin-bottom: 2px;
  min-width: 360px;
  /* border-radius: 4px; */
  position: fixed;
  position: -webkit-fixed; 
  top: 0; 
  left:0;
  z-index: 1000;
  transition: 0.24s;
}

.drawer a
{
  transition: border 0.5s;
}



.link-active
{
  background-color: #f5f5f5 !important;
  color: #2f7cbb !important;
  border-left: 5px solid #2f7cbb;
}

.nav h1
{
  
  padding-left: 20px;
  padding-top: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.nav a:link,.nav a:visited
{
  color:black;
}

.main
{
  /* background-color:#f5f5f5; */
  /* background-color: #edf0f8e7  ; */
  padding: 12px 12px 12px 24px;
  min-height: 85vh !important;
  min-width: 360px;
  margin: 80px 15px 15px 15px ;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* max-height: 90vh !important;
  overflow: scroll-y; */
}


.matnavlistfooter{
  position: fixed;
  bottom: 0;
  left: auto;
  background-color: #f5f5f5;
  width: 185px;
  color: black !important;
  transition: 0.3s;
  padding-top: 0px;
}

.currentmodulename{
  vertical-align: text-bottom;
}

.drawer-container
{
  background-color: white !important;

  transition: 0.7s;
}

.drawer
{
  width: 200px;
  position: fixed;
  background-color: #f5f5f5;
  /* transition: 0.4s; */

  padding-top: 64px;

}

.navlist{
    color: black !important ;
    height: 45px !important ;
    
}

.activemodule{
    background-color:#714B67 !important;
    color:white !important;
    
}

.activemoduletext{
    color:white 
}

.menuicon{
    cursor: pointer;
}


@media screen and (max-width: 1000px)
{
  /* styles for medium and small devices */
}

@media screen and (min-width: 1001px)
{
  /* styles for large devices */
}

.mattoolflexend{
  padding: 0px 3px;
}

.mat_navlist{
  padding-top: 0px;
}

.mat_divderstyle{
  background-color: black;
}

.rotate-180
{
  transform: rotate(180deg);
}

.rotatable
{
  transition: transform 0.4s;
}



@media (max-width: 400px){

  .drawer
  {
    padding-top: 56px;
  
  }

}

@media (width: 412px){

  .drawer
  {
    padding-top: 56px;
  
  }

}
@media (width: 414px){

  .drawer
  {
    padding-top: 56px;
  
  }

}

footer {

  position: fixed;
  
  bottom: 0;
  height: 15px;
  width: 100%;
  
  }