<div *ngIf="shareservice.currenturl == '/appraisal_module/goal_summary'" >
    <div>
        <br>
        <form [formGroup]="goalsummaryform">
            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Goal</mat-label>
                            <input matInput formControlName="empname">
                        </mat-form-field>
                    </td>
               
                    <!-- <td class="tdpadding">
                        <button (click)="searchsummary()" class="mat-fab-color" mat-mini-fab>
                            <mat-icon>search</mat-icon>
                        </button>
                    </td>
                    <td class="tdpadding">
                        <button (click)="clear()" class="mat-fab-color" mat-mini-fab>
                            <mat-icon>clear</mat-icon>
                        </button>
                    </td> -->
                    <td class="tdpadding">
                        <button routerLink="goal_form" class="mat-fab-color" mat-mini-fab>
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>

            <div class="overflow" >

            <table class="styled-table" >
                <tr>
                    <th>S.No</th>
                    <th>Employee Name</th>
                    <th>Employee Code</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Date Of Joining</th>
                    <th>Email Id</th>
                    <th>Department</th>
                    <th>Manager</th>
                    <th>Role</th>
                    <th>Edit</th>



                </tr>
                <tr *ngFor="let data of goalsummarydata;let i= index">
                    <td>{{((currentpage-1)*10)+i+1}}</td>
                    <td>{{data.first_name}}</td>
                    <td>{{data.code}}</td>
                    <td>{{data.gender.text}}</td>
                    <td>{{data.dob}}</td>

                    <td>{{data.doj}}</td>
                    <td>{{data.email_id}}</td>
                    <td>{{data.department.name}}</td>
                    <td>{{data.manager}}</td>
                    <td>{{data.role}}</td>
                    <td  class="linkclass" >
                       Edit
                    </td>


                </tr>
            </table>
            </div>


            <!-- <div *ngIf="goalsummarydata ?.length == 0; else paginationpage1">
                <h3>Sorry data not found!.. </h3>
            </div>
            <ng-template #paginationpage1>
                <div class="displayend">
                    <div>
                        <button mat-icon-button [disabled]="has_previous === false" color="primary"
                            (click)="previousgoalsummary()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        {{currentpage}}
                        <button mat-icon-button [disabled]="has_next === false" color="primary"
                            (click)="nextgoalsummary()">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>

                    </div>

                </div>
            </ng-template> -->
        </form>
    </div>
</div>
<router-outlet></router-outlet>
