<div *ngIf="shareservice.currenturl == '/appraisal_module/goal_summary'" >
    <div>
        <br>
        <form [formGroup]="goalsummaryform">
            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Designation</mat-label>
                            <!-- <input matInput formControlName="designation"> -->
                            <mat-select matInput formControlName="designation"   >
                                <mat-option *ngFor="let design of designationdropdowndata" [value]="design.id" >{{design.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field class="employeewidth" (click)="designationdropdown('',designationcurrentpage=1)">


                            <input formControlName="designation" #designationinput
                                (keyup)="designationdropdown($event.target.value,designationcurrentpage=1)" matInput
                                [matAutocomplete]="designationautocomplete">
                            <mat-autocomplete #designationautocomplete="matAutocomplete"
                                [displayWith]="displayFndesignation">
    
                                <mat-option *ngIf="!isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="isLoading">
                                    <mat-option *ngFor="let design of designationdropdowndata" [value]="design">
                                        {{design.name}}
                                    </mat-option>
                                </ng-container>
    
                            </mat-autocomplete>
                        </mat-form-field>
     -->
                    </td>

                    <td class="tdpadding" >
                        <mat-form-field (click)="gradedropdown()" class="employeewidth">
                            <!-- <input formControlName="grade" matInput> -->
                            <mat-label>Grade</mat-label>

                            <mat-select formControlName="grade" matInput>
                                <mat-option *ngFor="let tab of gradedropdowndata" [value]="tab.id">
                                    {{tab.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    
               
                    <td class="tdpadding">
                        <button (click)="searchsummary()" class="mat-fab-color" mat-mini-fab>
                            <mat-icon>search</mat-icon>
                        </button>
                    </td>
                    <td class="tdpadding">
                        <button (click)="clear()" class="mat-fab-color" mat-mini-fab>
                            <mat-icon>clear</mat-icon>
                        </button>
                    </td> 
                    <td class="tdpadding">
                        <button routerLink="goal_form" class="mat-fab-color" mat-mini-fab>
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>

            <div class="overflow" >

            <table class="styled-table" >
                <tr>
                    <th>S.No</th>
                    <th>Goal</th>
                    <!-- <th>Sub Goal</th> -->

                    <th>Designation</th>
                    <th>Grade</th>


                    <th>Edit</th>



                </tr>
                <tr *ngFor="let data of goalsummarydata;let i= index">
                    <td>{{((currentpage-1)*10)+i+1}}</td>
                     <td>{{data.goal_id.name}}</td>
                   <td>{{data.designation_id.name}}</td>
                    <td>{{data.grade.name}}</td>
                    <!-- <td>{{data.sub_goal}}</td>

                    <td>{{data.designation_id}}</td>
                    <td>{{data.grade}}</td> -->


                    <td (click)="routing(data.id)" class="linkclass" >
                        Edit
                       
                    </td>

                </tr>
            </table>
            </div>


            <div *ngIf="goalsummarydata ?.length == 0; else paginationpage1">
                <h3>Sorry data not found!.. </h3>
            </div>
            <ng-template class="displayend"  #paginationpage1>
                <div class="displayend">
                    <div>
                        <button mat-icon-button [disabled]="has_previous === false" color="primary"
                            (click)="nextgoalsummary()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        {{currentpage}}
                        <button mat-icon-button [disabled]="has_next === false" color="primary"
                            (click)="previousgoalsummary()">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>

                    </div>

                </div>
            </ng-template>
        </form>
    </div>
</div>
<router-outlet></router-outlet>
