.tdpadding {
    padding-left: 50px;
}

.overflow {
    overflow-x: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
} 

.styled-table  th {
  background-color: #714B67;
  color: #ffffff;
  text-align: center;
}

.styled-table td {
    padding: 12px 15px;
    font-size: 16px;
  border: 1px solid lightgray;
  text-align: center;

}
.styled-table th{
  padding: 12px 15px;
  font-size: 16px;
border: 1px solid lightgray;
}

.styled-table  tr {
  border-bottom: 1px solid #dddddd;
  /* border: 1px solid grey; */
}
.mat-fab-color{
    background-color:white;
    color: black;
  }

  .linkclass{
    color: blue;
  }
  
  .linkclass:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  
  }